<header>
  <div class="banner">

    <div class="nav-bar">
      <h1 class="logo">Landscaper</h1>
      <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">GALLERY</a></li>
        <li><a href="#">TESTIMONIALS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>

    <div class="content">
      <h1>
        LANDSCAPING SERVICES
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
        Duis sed dapibus leo nec ornare diam.
      </p>
      <div>
        <button>more info</button>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row">

      <div class="second-content first">
        <h1>
          Welcome to <span>Landscaper</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo
          nibh
          ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo
          nibh
          ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
        </p>
        <div>
          <button>Viwe All Serivces</button>
        </div>
      </div>

      <div class="second-content secound">
        <img src="../assets/about-1.jpg">
        <h3>Garden Care</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo
          nibh ante facilisis.
        </p>
      </div>


      <div class="second-content third">
        <img src="../assets/about-2.jpg">
        <h3>Lawn Care</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo
          nibh ante.
        </p>
      </div>
    </div>

  </div>


  <div class="section-3">
    <div class="service">
      <div class="ser-content">

        <div class="heading-sec">
          <h1>Our Services</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
        </div>
        <div class="my-row">

          <div class="my-service">
            <img src="../assets/service-1.jpg">
            <h1>Lawn Care</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
              commodo nibh ante facilisis bibendum dolor feugiat at.</p>
          </div>

          <div class="my-service">
            <img src="../assets/service-2.jpg">
            <h1>Lawn Care</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
              commodo nibh ante facilisis bibendum dolor feugiat at.</p>
          </div>

          <div class="my-service">
            <img src="../assets/service-3.jpg">
            <h1>Lawn Care</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
              commodo nibh ante facilisis bibendum dolor feugiat at.</p>
          </div>

          <div class="my-service">
            <img src="../assets/service-4.jpg">
            <h1>Lawn Care</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd
              commodo nibh ante facilisis bibendum dolor feugiat at.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-4-main">
    <div class="heading-sec-4">
      <h1>
        Project Gallery
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>

    </div>

    <div class="image_box">
      <div class="img-content">
        <p>Lorem ipsum</p>
      </div>
    </div>

  </div>






</header>